<!DOCTYPE html>
<html ng-app="BeersApp" ng-controller="beersController">
    <head>
        <meta charset="utf-8">
        <title>Beers @ Al's</title>
        <meta name="description" content="Providing a mobile friendly beer list at Al's of Hampden!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/vendor/bootstrap-3.2.0.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/angular-1.2.23.min.js"></script>
    </head>
    <body>
        <div ng-repeat="beerList in beersList" class="table-responsive">
            <table class="table">
                <caption>{{beerList.title}}</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Brewery</th>
                        <th>Style</th>
                        <th>ABV</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="beer in beerList.beers" ng-class="{'danger': beer.kicked}">
                        <td>{{beer.number}}</td>
                        <td>
                            {{beer.name}}<br>
                            <small>{{beer.addl}}</small>
                        </td>
                        <td>{{beer.brewery}}</td>
                        <td>{{beer.style}}</td>
                        <td>{{beer.abv}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
    </body>
</html>
