#loading {
	text-align: center;
}

.background-loading {
	background-color: #eee;
}

.progress-bar {
	width: 100%;
}

.nav-btns {
	text-align: center;
}

table td > div {
	max-width: 200px;
	min-width: 100px;
	white-space: normal;
}

@media (max-width: 768px) {
	.navbar,
	.panel:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}

	.panel,
	.panel-heading {
		border-left: none;
		border-right: none;
		border-radius: 0;
	}
}