a { 
	color: #cc6600;
}

a:focus, 
a:hover {
	color: #ff9933;
}

.jumbotron {
	background-color: inherit;
}

#loading {
	text-align: center;
}

.progress-bar {
	background-color: #ffc415;
	width: 100%;
}

.close {
	font-size: 28px;
	line-height: inherit;
}

.nav-btns {
	text-align: center;
}

.btn-help:after {
	content: " Help";
}

.btn-about:after {
	content: " About";
}

.btn-untappd {
	background-color: #ffcc00;
	color: #ffffff;
	font-weight: bold;
}

.btn-untappd:hover, 
.btn-untappd:focus, 
.btn-untappd:active, 
.btn-untappd.active {
	background-color: #e6b800;
	border-color: #e6b800;
}

.btn-inline {
	margin-top: -4px;
	padding: 0 5px;
}

.input-clear {
	bottom: 0;
	color: #333;
	cursor: pointer;
	font-size: 14px;
	height: 31px;
	line-height: 33px;
	margin: auto;
	opacity: 0.4;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 31px;
	z-index: 2;
}

.input-clear:hover,
.input-clear:focus {
	opacity: 1;
}

.label-warning {
	background-color: #ff9933;
}

.panel-primary {
	border-color: #ffc415;
}

.panel-primary > .panel-heading {
	background-color: #ffc415;
	border-color: #ffc415;
}

.panel-title {
	font-weight: 400;
	text-transform: capitalize;
}

.capitalize {
	text-transform: capitalize;
}

#view-table table th {
	cursor: pointer;
}

#view-table table th span.heading {
	border-bottom: dashed 1px #cc6600;
}

#view-table table th span.glyphicon {
	color: #cc6600;
	font-size: 10px;
}

#view-table .table > tbody > tr > td {
	padding: 10px 8px;
}

#view-table table td > div {
	max-width: 200px;
	min-width: 100px;
	white-space: normal;
}

#view-block .beerBlock {
	margin-bottom: 20px;
}

#view-block .beerBlock > div:first-child {
	text-align: right;
	width: 20%;
}

#view-block .beerBlock > div:last-child {
	width: 80%;
}

.beerLabel {
	float: right;
	margin: 0 0 5px 10px;
	max-width: 100px;
}

.beerSearch {
	cursor: pointer;
}

a.topScroller {
	color: #333;
	opacity: 0.4;
}

a.topScroller:focus,
a.topScroller:hover {
	opacity: 1;
}

.appicon {
	display: block;
	height: auto;
	margin: 0 auto;
	width: 90px;
}

@media (max-width: 767px) {
	.btn-help:after {
		content: "";
	}

	.btn-about:after {
		content: "";
	}

	#view-block .beerBlock:nth-child(odd) {
		clear: both;
	}

	.navbar {
		border-bottom: none;
		margin-bottom: 0;
	}

	.panel,
	.panel-heading {
		border-left: none;
		border-right: none;
		border-radius: 0;
	}
}

@media (min-width: 768px) {
	#view-block .beerBlock:nth-child(3n+1) {
		clear: both;
	}
}

@media (min-width: 992px) {
	#view-block .beerBlock:nth-child(3n+1) {
		clear: none;
	}	
	#view-block .beerBlock:nth-child(4n+1) {
		clear: both;
	}
}

@media (min-width: 1200px) {
	#view-block .beerBlock:nth-child(4n+1) {
		clear: none;
	}
	#view-block .beerBlock:nth-child(6n+1) {
		clear: both;
	}	
}