<div id="view-list" ng-repeat="beerList in beersList" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{beerList.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">{{filteredBeers.length}}</span>
            <input type="text" class="form-control" ng-model="searchFilter" placeholder="Filter..."/>
            <span class="input-clear glyphicon glyphicon-remove" ng-click="searchFilter = null" ng-class="{'hidden': !searchFilter}"></span>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item clearfix" ng-repeat="beer in filteredBeers = (beerList.beers | filter: searchFilter)">
            <div class="pull-left">
                <span class="label label-success">{{beer.number}}</span>
            </div>
            <div class="pull-left" style="padding-left: 10px;">
                <div><b>{{beer.name}}</b></div>
                <div><small><i>{{beer.addl}}</i></small></div>
                <div>{{beer.brewery}}</div>
                <div>{{beer.style}}</div>
                <div>{{beer.abv | number : 2}} %</div>
            </div>
        </li>
        <li class="list-group-item" ng-hide="filteredBeers.length">
            <div>No beers match entered filter criteria.</div>
        </li>
    </ul>
    <div class="panel-footer">
        <small>&nbsp;</small>
        <a ng-click="scrollToTop()" class="pull-right top"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
</div>
