<div id="view-table" ng-repeat="beerList in beersList" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{beerList.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">{{filteredBeers.length}}</span>
            <input type="text" class="form-control" ng-model="searchFilter" placeholder="Filter..."/>
            <span class="input-clear glyphicon glyphicon-remove" ng-click="searchFilter = null" ng-class="{'hidden': !searchFilter}"></span>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th ng-repeat="heading in headings" ng:click="changeSorting(heading.column)"><span>{{heading.display}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="beer in filteredBeers = (beerList.beers | filter: searchFilter | orderBy: sort.column : sort.descending)">
                    <td>
                        <span class="label label-success">{{beer.number}}</span>
                    </td>
                    <td>
                        <div><b>{{beer.name}}</b></div>
                        <div><small><i>{{beer.addl}}</i></small></div>
                    </td>
                    <td><div>{{beer.brewery}}</div></td>
                    <td><div>{{beer.style}}</div></td>
                    <td><span>{{beer.abv | number : 2}} %</span></td>
                </tr>
                <tr ng-hide="filteredBeers.length">
                    <td colspan="5">No beers match entered filter criteria.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <small>&nbsp;</small>
        <a ng-click="scrollToTop()" class="pull-right top"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
</div>
