<div id="view-table">
    <div data-ng-repeat="beerList in beersList" data-ng-hide="beerList.beers.length === 0" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{beerList.title}}</h3>
        </div>
        <div class="panel-body">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">{{filteredBeers.length}}</span>
                <input type="text" class="form-control" data-ng-model="searchFilter" placeholder="Filter..."/>
                <span class="input-clear glyphicon glyphicon-remove" data-ng-click="searchFilter = ''" data-ng-class="{'hidden': !searchFilter}"></span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th data-ng-repeat="heading in headings" data-ng-click="changeSorting(beerList.sort, heading.column)">
                            <span class="heading">{{heading.display}}</span>
                            <span class="glyphicon" data-ng-class="sortClass(beerList.sort, heading.column)"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="beerSearch" data-ng-repeat="beer in filteredBeers = (beerList.beers | filter: searchFilter | orderBy: beerList.sort.column : beerList.sort.descending)" data-ng-click="search(beer)">
                        <td>
                            <span class="label" data-ng-class="{'label-success': beer.growler, 'label-warning': !beer.growler}">{{prependBeerNumber(beer.number, beerList.title)}}</span>
                        </td>
                        <td>
                            <div><b>{{beer.name}}</b></div>
                            <div><small><i>{{beer.addl}}</i></small></div>
                        </td>
                        <td><div>{{beer.brewery}}</div></td>
                        <td><div>{{beer.style}}</div></td>
                        <td><span>{{beer.abv | number : 2}} {{beer.abv ? '%' : 'n/a'}}</span></td>
                    </tr>
                    <tr data-ng-hide="filteredBeers.length">
                        <td colspan="5" no-results></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <small footer-timestamp></small>
            <a footer-topscroller></a>
        </div>
    </div>
</div>
