<div class="modal fade" id="about-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">About</h4>
            </div>
            <div class="modal-body">
                <p>Made by <a href="http://mccrager.com" target="_blank">Patrick Crager</a>, lover of beer and fan of <a href="http://www.alsofhampden.com/" target="_blank">Al's of Hampden / Pizza Boy Brewing Co.</a> in Enola, PA. If you have never had the pleasure of visiting Al's, make it a priority and use my app while you are there :)</p>
                <p>I made the app because Al's website wasn't mobile friendly and I was constantly not wanting to leave my table to see the tap list which isn't easily readable from every seat in the building! In other words, pure physical laziness and an excuse to build something fun.</p>
                <hr>
                <p><b>Technical Crap</b><br>The front end of this website is an AngularJS app utilizing Bootstrap and jQuery. The back end, that provides up-to-date data from Al's website, is a node.js app running on IIS 7.5. The code is open source and available on <a href="https://github.com/patch-e/beers-at-als" target="_blank">github</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>