<div class="modal fade" id="about-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h3 class="modal-title">ABOUT</h3>
            </div>
            <div class="modal-body">
                <p>
                  Made by <a href="http://mccrager.com" target="_blank">Patrick Crager</a>,
                  lover of beer and fan of <a href="http://alsofhampden.com/" target="_blank">Al's of Hampden / Pizza Boy Brewing Co.</a>
                  in Enola, PA. If you haven't had the pleasure of visiting Al's,
                  make it a priority and be sure to use my app while you are there :)
                </p>

                <p><a href="https://untappd.com/user/pcrager" target="_blank">Follow me</a> on Untappd!</p>

                <hr>

                <p>
                  <b>History</b><br>I made the app because Al's website wasn't mobile-friendly at the time and I was constantly not wanting to
                  leave my table to see the tap list which isn't easily readable from every seat in the building!
                </p>
                <p>
                  Al's original website left much to be desired when accessing from a mobile device, so naturally as a web developer myself
                  I saw an opportunity to make something useful.
                </p>
                <p>
                  Today, Al's website is much improved and mobile-friendly! However, I am still providing some additional features not available
                  there (searching/filter, Untappd integration, additional views, speed).
                </p>

                <hr>

                <p>
                  <b>Technical Crap</b><br>The front-end of this website is an AngularJS app utilizing Bootstrap and jQuery.
                  The back-end, that provides live up-to-date data from Al's website, is an Express node.js app utilizing a MongoDB database
                  running on IIS 7.5. The application relies upon several features from the Untappd API, OAuth authentication and beer search.
                  Fetched Untappd data is stored for up to 24 hours before being purged. The code is open source and available on
                  <a href="https://github.com/patch-e/beers-at-als" target="_blank">github</a>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
