<div class="modal fade" id="help-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h3 class="modal-title">HELP</h3>
            </div>
            <div class="modal-body">
                <p><b>Legend</b></p>
                <ul>
                    <li><span class="label label-success">#</span> indicates beer is eligible for growler fills.</li>
                    <li><span class="label label-warning">#</span> indicates beer is <em>not</em> eligible for growler fills.</li>
                </ul>
                <small>note: beers on the <i>Draft Beer</i> list are matched up with the number used to order by, use it when ordering!</small>
                
                <hr>

                <p><b>Check-In</b><br>Tap a beer to view information about the beer from Untappd!</p>
                <p>Tap the Check-In <span class="glyphicon glyphicon-ok"></span> button to launch the Untappd app or Untappd website directly to the beer.<br><small>note: this feature is experimental and can sometimes result in a beer that isn't found on Untappd due to how it was named on the list.</small></p>

                <hr>

                <p><b>Views</b><br>Tap a viewing style of your choice. The beers will automatically layout according to your selection. Viewing styles can be bookmarked directly for your convenience.</p>
                <ul>
                    <li><span class="glyphicon glyphicon-align-justify"></span> Table - the beers in tabular format.<br>Tap column headings to sort. Smaller screens can swipe the table left and right to scroll horizontally.</li>
                    <li><span class="glyphicon glyphicon-list"></span> List - the beers in vertical list format.</li>
                    <li><span class="glyphicon glyphicon-th"></span> Block - the beers in block flow format.<br>Larger screens can display more blocks horizontally at a time.</li>
                </ul>
                
                <hr>
                
                <p><b>Filtering</b><br>Enter filter criteria in any of the beer lists. All fields are immediately filtered upon as you type. For example, type "IPA" and any beer name or style containing "IPA" will be found. The number of beers matching the current filter criteria is reflected in the number next to the filter input.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>